.bar {
  width: 380px;
  z-index: 11;
  height: 10px;
  border-radius: 18px;
  background-color: var(--cyan);
  position: absolute;
  left: 300px;
  top: 45%;
}

@media screen and (max-width: 767px) {
  .bar {
    width: 10px;
    height: 380px;
    left: 48.5%;
    top: 25%;
  }
}
