.mediaSection {
  display: flex;
  justify-content: space-between;
}

.mediaSection svg {
  height: 24px;
  cursor: pointer;
  width: 24px;
  color: rgb(255, 255, 255);
  transition: all 1s ease;
}

.mediaSection svg:hover {
  color: var(--cyan);
}
