.form {
  display: grid;
  grid-template-columns: 1fr min-content;
  height: 100%;
  align-content: center;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;
}

.linkContainer {
  width: 100%;
}

.linkContainer input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
}

.linkContainer input:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    min-width: 320px;
  }
  .linkContainer input {
    width: 100%;
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .error input {
    border: 2px solid var(--error);
    color: var(--error);
  }
}
