.form {
  display: grid;
  grid-template-columns: 1fr min-content;
  height: 100%;
  align-content: center;
  padding-left: 50px;
  padding-right: 50px;
  gap: 50px;
}

.linkContainer {
  width: 100%;
}

.linkContainer input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.linkContainer input:focus {
  outline: none;
}

.btnContainer {
  width: 100%;
}

.btnContainer input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
  border: none;
  background-color: var(--cyan);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease;
}
.btnContainer input:hover {
  background-color: var(--cyanhover);
}
