.getStartedSection {
  display: grid;
  grid-template-columns: 420px 1fr;
  padding-top: 50px;
}

.title {
  font-size: 50px;
}

.paragraph {
  color: var(--gray);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.svgContainer {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  /* Aquí van los estilos para móviles */
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .title {
    font-size: 50px;
    text-align: center;
  }

  .paragraph {
    font-size: 15px;
    text-align: center;
  }
  .getStartedSection {
    display: flex;
    flex-direction: column-reverse;
  }
  .svgContainer {
    display: flex;
    position: relative;
    height: 442px;
    justify-content: center;
    position: relative;
    margin-left: unset;
  }
}
