.linksContainers {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.oriContainer span {
  color: black;
}

.shortenedContainer {
  display: flex;
  gap: 25px;
  align-items: center;
}

.shortenedContainer span {
  color: var(--cyan);
}

.shortenedContainer button {
  border: none;
  color: white;
  border-radius: 3px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 1s ease;
}

.noCopied {
  background-color: var(--cyan);
  cursor: pointer;
}

.noCopied:hover {
  background-color: var(--ocean);
}

.copied {
  background-color: var(--ocean);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .linksContainers {
    flex-direction: column;
  }
  .shortenedContainer {
    gap: 10px;
  }
}
