.svgTag {
  transform: scale(1);
}
@media screen and (max-width: 767px) {
  /* Aquí van los estilos para móviles */
  .svgTag {
    transform: scale(0.5);
    position: absolute;
    left: -190.5px;
  }
}
