.linkShortenerSection {
  transform: translateY(50%);
}
.linkShortenerBgImage {
  width: 100%;
  background-image: url('../../assets/bg-shorten-desktop.svg');
  height: 110px;
  position: relative;
  border-radius: 7px;
}
.customBg {
  position: absolute;
  background-color: var(--ocean);
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 7px;
}

.errorContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.errorText {
  margin: auto;
  font-size: 14.5px;
  padding-top: 5px;
  color: var(--error);
}

.btnContainer {
  width: 100%;
}

.btnContainer button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
  border: none;
  background-color: var(--cyan);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease;
  white-space: nowrap;
}
.btnContainer button:hover {
  background-color: var(--cyanhover);
}

@media screen and (max-width: 767px) {
  .linkShortenerBgImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    min-width: none;
  }
  .btnContainer button {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  .errorContainer {
    position: absolute;
    bottom: -25px;
  }
}
