.footerBg {
  width: 100%;
  background-color: black;
}

.footerGrid {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr 1fr;
  color: white;
  margin-bottom: 15px;
}

.footerSection {
  font-weight: 700;
}

.footerSectionList {
  padding-top: 15px;
}

.footerSectionList li {
  color: var(--gray);
  font-size: 14px;
  transition: all 1s ease;
}

.footerSectionList li:hover {
  color: var(--cyan);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  /* Aquí van los estilos para móviles */
  .footerGrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
  .footerGrid div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footerGrid div:last-child {
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .footerLogo {
    color: red;
    background-color: red;
    scale: 0.5;
    margin: auto;
  }
}
